
<ul id="FeaturesMenu">
    <li class="<%= active?(:departments) %>">
      <%= link_to [:admin, :departments] do %>
        <i class="feature-icon glyphicon glyphicon-cloud"></i> <span>部门管理</span>
      <% end %>
    </li>
    <li class="<%= active?(:employes) %>">
      <%= link_to [:admin, :employes] do %>
        <i class="feature-icon glyphicon glyphicon-cloud"></i> <span>员工管理</span>
      <% end %>
    </li>
    <li class="<%=active?(:home)%>">
      <%= link_to admin_api_token_path do%>
         <i class="feature-icon glyphicon glyphicon-cloud"></i> <span>获取API接口密钥</span>
      <%end%>
    </li>
</ul>
